#header {
    height: 140px;
    position: fixed;
    width: 100%;
    background:	$lightpurple;
    color: white;
    font-family: Verdana, Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
    z-index: 9999; 
}

#title {
    font-size: 3rem;
    font-weight: bold;
    font-family: Verdana;
}

#title-description {
    font-size: 2rem;
    font-family: Verdana;
}

.header-left {
    padding: 10px 0 10px 20px;
    float: left;
    width: auto;
}

.header-right {
    float: right;
    width: auto;
    line-height: 140px;
    text-align: center;
    .fa {
        font-size: 3rem;
    }
}

#header a {
    border: 2px white solid;
    border-radius: 20px;
    color: white;
    font-size: 2.5rem;
    margin-right: 20px;
    padding: 20px;
}

#header a:hover {
    color: white;
}