.full-post {
    background: white;
}

.user {
    background: #f1f1f1;
    padding: 10px;
    .user-icon .avatar{
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 50%;
    }
    .user-info {
        margin-left: 60px;
        margin-top: -45px;
        position: absolute;
        a {
            color: #545454;
        }

        a:hover {
            color: #ff42c1;
        }
        .user-name {
            color: #545454;
            font-weight: bold;
            font-size: 0.8rem;
        }

        .user-rep {
            font-size: 0.7rem;
            color: grey;
        }
    }
}

.post-title {
	font-weight: bold;
	font-size: 1.8rem;
	padding: 20px 20px 0 20px;
    text-align: center;
}

.post-likes {
    color: grey;
    text-align: center;
}

.post-body {
    padding: 0 20px;
}

.img-container {
	margin: 20px auto;
}

.post-body p {
	font-size: 1.3rem;
}

ul {
    margin: auto;
    list-style-type: none;  
}

.post-comments a {
    color: #ff42c1;
}

.post-comments a:hover {
    color: #d695ef;
}

.comments-header {
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: grey;
}

.comments {
    padding: 0 20px;
}

.comment {
    border-top: 1px solid #ebebf0;
    padding: 10px;
    .comment-avatar .avatar{
        width: 50px;
        height: 50px;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 50%;
    }
    .comment-body {
        margin-left: 60px;
        margin-top: -45px;
        .comment-header {
            color: #545454;
            .user-link {
                color: #ff42c1;
                font-weight: bold;
            }

            .user-link:hover {
                background-color: lightgrey;
                border-radius: 10%;
            }

            .comment-info {
                float: right;
                .comment-date {
                    font-size: 0.8rem;
                }
                .comment-likes {
                    font-size: 0.8rem;
                    padding-left: 10px;
                }

            }
        }

        .comment-content {
            color: #444;
            word-wrap: break-word;
        }
    }
}