.container {
    margin: 0 auto;
}

.post-list-sidebar img {
    display: block;
    margin: auto;
    width: auto;
}

#app-title {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
}

#app-description {
    color: grey;
    text-align: center;
}

.post-list-popular {
    margin-top: 20px;
}

#main {
    color: black;
}

#everything {
    background: #f1f1f1;
}