.container {
    margin: 0 auto;
}

@media (min-width: 1200px) {
  .post-list-main {
    margin-left: 200px;
  }
}

@media (max-width: 1199px) {
  .post-list-main {
    margin-left: 80px;
  }
}

@media (max-width: 1024px) {
  .post-list-main {
    margin-left: 0;
  }
}

.post-list-main {
    margin-top: 80px;
}


@media (min-width: 1200px) {
  .post-list-sidebar {
    width: 11%;
    position: fixed;
  }
}

@media (max-width: 1200px) {
  .post-list-sidebar {
    visibility: hidden;
    display: none;
  }
}

.post-list-sidebar {
    margin-top: 100px;
}

.post-list-sidebar img {
    display: block;
    margin: auto;
    width: auto;
}

#app-title {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
}

#app-description {
    color: grey;
    text-align: center;
}

@media (min-width: 1200px) {
    .post-list-popular {
        margin-left: 0;
    }
}

@media (max-width: 1199px) {
  .post-list-popular {
    margin-right: 80px;
  }
}

@media (max-width: 1024px) {
    .post-list-popular {
        margin-right: 0;
    }
}

.post-list-popular {
    margin-top: 80px;
    .section-header {
        padding-bottom: 0;
    }
}

#main {
    color: #444;
}

#everything {
    background: #f1f1f1;
}