.container {
    margin: 0 auto;
}

.post-list-main {
    margin-top: 140px;
}

.post-list-sidebar {
    padding: 80px;
    img {
        display: block;
        width: auto;
    }   
    .side-info {
        margin-left: 350px;
        margin-top: -270px;
        position: absolute;
        #app-title {
            font-size: 3rem;
            margin-top: 10px;
        }

        #app-description {
            font-size: 2rem;
            color: grey;
        }
    }
    .download-icon {
        margin: 50px auto;
        width: 400px;
    }
}

.post-list-popular {
    margin-top: 80px;
    .section-header {
        padding-bottom: 0;
    }
}

#main {
    color: #444;
    min-height: 93.2vh;
}

.section-header {
    padding: 20px 60px;
    font-size: 2.7rem;
    font-weight: bold;
    color: grey;
}

#everything {
    background: #f1f1f1;
}